@mixin gradient($col1, $col2) {
  background: $col1;
  /* Old browsers */
  background: -moz-linear-gradient(top, $col1 0%, $col2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $col1 0%, $col2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $col1 0%, $col2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$col1}, endColorstr=#{$col2}, GradientType=0);
  /* IE6-9 */
}

//-- FONT SMOOTH
@mixin smoothfonts {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

//-- CLEARFIX
@mixin clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

//-- QUERIES
@mixin mediaquery($max, $width) {
  @media only screen and (unquote( $max + '-width: ' + $width)) {
    @content;
  }
}

@mixin mediaquery_h($max, $height) {
  @media only screen and (unquote( $max + '-height: ' + $height)) {
    @content;
  }
}

//-- TRANSFOR
@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
}

@mixin transform-origin($val1, $val2) {
  -webkit-transform-origin: $val1 $val2;
  -moz-transform-origin: $val1 $val2;
  -ms-transform-origin: $val1 $val2;
  -o-transform-origin: $val1 $val2;
  transform-origin: $val1 $val2;
}

//-- ANIMATION
@mixin animation($time, $easing, $name, $fill, $iteration) {
  -webkit-animation: $name $time $easing $iteration;
  -moz-animation: $name $time $easing $iteration;
  -o-animation: $name $time $easing $iteration;
  animation: $name $time $easing $iteration;
  @if $fill=='forwards' {
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
}

//-- PLACEHOLDERS
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

@mixin userselectnone {
  -webkit-user-select: none;
  /* Chrome, Opera, Safari */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

@mixin mask($col, $opac) {
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $col;
    opacity: $opac;
    transition: all 200ms ease-in-out;
  }
}